name: Update Version File
on:
  release:
    types: [published]

jobs:
  update-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update version.txt
        run: |
          echo "${{ github.event.release.tag_name }}" > version.txt
          # Strip the 'v' if you name your releases 'v1.0.1'
          sed -i 's/v//g' version.txt

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add version.txt
          git commit -m "Update version to ${{ github.event.release.tag_name }}"
          git push
